<p>
    {{link-to "User list" "users.index" }}
</p>

<h1>User show</h1>

<div class="main-content">

    <div class="row">
        <div class="col-md-6">
            <p>
                <strong>Avatar:</strong>
                <span><img src="{{user.avatarUrl}}" width="50"></span>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <p>
                <strong>Login:</strong>
                <span>{{user.login}}</span>
            </p>

            <p>
                <strong>Name:</strong>
                <span>{{user.name}}</span>
            </p>

            <p>
                <strong>Type:</strong>
                <span>{{user.type}}</span>
            </p>

            <p>
                <strong>Html Url:</strong>
                <span>{{format-url user.htmlUrl}}</span>
            </p>

            <p>
                <strong>Public gists:</strong>
                <span>{{user.publicGists}}</span>
            </p>
        </div>

        <div class="col-md-6">
            <p>
                <strong>Followers:</strong>
                <span>{{user.followers}}</span>
            </p>

            <p>
                <strong>Following:</strong>
                <span>{{user.following}}</span>
            </p>

            <p>
                <strong>Created:</strong>
                <span>{{format-date user.createdAt}}</span>
            </p>

            <p>
                <strong>Updated:</strong>
                <span>{{format-date user.updatedAt}}</span>
            </p>

            <p>
                <strong>Url:</strong>
                <span>{{format-url user.url}}</span>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <p>
                <strong>Public repos:</strong>
                <span>{{user.publicRepos}}</span>
            </p>
        </div>
    </div>

    {{#if repos.length}}

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>
                        <div class="form-group">
                            {{#x-select class="form-control select-language" value=currentLanguage action=(action "selectLanguage") as |xs|}}
                                {{#each listLanguage as |language|}}
                                    {{#xs.option value=language}}{{language}}{{/xs.option}}
                                {{/each}}
                            {{/x-select}}
                        </div>
                    </th>
                    <th>Description</th>
                    <th>
                        <div class="form-group">
                            {{#x-select class="form-control select-private" value=currentPrivate action=(action "selectPrivate") as |xs|}}
                                {{#each listPrivate as |item|}}
                                    {{#xs.option value=item.value}}{{item.text}}{{/xs.option}}
                                {{/each}}
                            {{/x-select}}
                        </div>
                    </th>
                    <th>Branches</th>
                    <th>Created</th>
                    <th>Updated</th>
                </tr>
            </thead>
            <tbody>
                {{#each listRepos as |repo index|}}
                    <tr>
                        <td><a href="{{repo.htmlUrl}}" target="_blank">{{repo.name}}</a></td>
                        <td>{{repo.language}}</td>
                        <td>{{repo.description}}</td>
                        <td>{{format-boolean repo.private}}</td>
                        <td>
                            {{#if repo.branches.length }}
                                {{#if (gt repo.branches.length 1)}}
                                    <span class="badge badge-default">master</span><br />
                                    <button class="btn btn-default btn-sm collapse-branch" type="button" data-toggle="collapse" data-target="#collapseBranch-{{index}}" aria-expanded="false" aria-controls="collapseBranch-{{index}}"> {{one-less repo.branches.length}} more {{fa-icon 'caret-down'}}</button>
                                    <div class="collapse" id="collapseBranch-{{index}}">
                                        {{#each repo.branches as |branch|}}
                                            {{#if (not-eq branch.name 'master')}}
                                                <span class="badge badge-success">{{branch.name}}</span>
                                            {{/if}}
                                        {{/each}}
                                    </div>
                                {{else}}
                                    {{#each repo.branches as |branch|}}
                                        <span class="badge badge-default">{{branch.name}}</span>
                                    {{/each}}
                                {{/if}}
                            {{else}}
                                <span class="badge badge-default">none</span>
                            {{/if}}
                        </td>
                        <td><span class="whitespace-nowrap">{{format-date repo.createdAt}}</span></td>
                        <td><span class="whitespace-nowrap">{{format-date repo.updatedAt}}</span></td>
                    </tr>
                {{else}}
                    <tr><td>No repositories</td></tr>
                {{/each}}
            </tbody>
        </table>

    {{else}}
        <p>No repos found</p>
    {{/if}}

</div>
