<h1>Search</h1>

<p class="lead">Get information about a given user by filling in the form.</p>

<div class="row main-content">

    <div class="col col-md-6 offset-md-3">
        <form>
            <div class="form-group row">
                <label for="token">Token:</label>
                {{input value=token class="form-control mr-sm-2" id="token"}}
            </div>

            <div class="form-group row">
                <label for="user">User:</label>
                {{input value=user class="form-control mr-sm-2" id="user"}}
            </div>

            <div class="form-group row">
                <button type="submit" class="btn btn-success{{if enableSubmit '' ' disabled'}}" {{action 'submit'}}>Search</button>
            </div>
        </form>
    </div>

    {{outlet}}

</div>
